@model PS02.Models.Reporte

@{
    ViewBag.Title = "Delete";
}
@if (User.Identity.IsAuthenticated)
{

    <div class="masthead">
        <div class="masthead-content space">
            <div class="container">
                <h2>Eliminar</h2>

                <h3>¿Seguro que quieres eliminar la orden?</h3>
                <div>
                    <h4>Reporte</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Menu.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Menu.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cliente)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cantidad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Total)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Total)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Estatus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Estatus)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                            @Html.ActionLink("Regresar", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}